.bottom-navigation {
  position: fixed;
  z-index: 10000;
  .cart {
    position: fixed;
    bottom: 64px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    .button {
      padding: 24px 32px;
    }
  }
  .tabbar {
    position: fixed;
    height: 64px;
    bottom: 0;
    .icon-img {
      height: 24px;
      width: 24px;
      padding-bottom: 3px;
    }
  }
  .link {
    font-weight: normal;
    &.active {
      border-top: 2px solid var(--zmp-theme-color);
      color: black;
    }
    &.inactive {
      filter: grayscale(1);
    }
  }
}
