.inquiry {
  display: flex;
  flex-direction: column;
  select,
  .button {
    background-color: white;
    border: none;
  }
  .button {
    width: 48px;
    height: 48px;
    .icon {
      margin-right: 0;
    }
  }
}
