.location-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .css-2613qy-menu {
    overflow: visible;
    height: 500px;
    z-index: 1;
  }
  .select-options {
    height: auto;
    overflow-y: visible;
  }
}
