.product-row {
  margin: 0;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;

  .product-column {
    width: calc(50vw - 20px);
    display: inline-block;
  }
  // .typo-body-bold {
  //   height: 50px;
  // }
}
