.product-order {
  .product-preview {
    .image {
      flex: 1;
      padding-right: 16px;
    }
    .description {
      flex: 1 1 auto;
      color: blue;
      align-self: center;
      text-align: left;
    }
    // .description-text {
    //   text-align: center;
    // }
  }
  .quantity-selector {
    display: flex;
    margin: auto;
    color: black;
  }
  .note {
    flex: 1;
    height: 48px;
  }
  .actions {
    margin: 8px;
    margin-top: 0;
  }
}
